<div class="container">
    <p *ngIf = "!isAuth && f.submitted">Invalid details!</p>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <h2>Login</h2>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Enter your username" required class="form-control" name="username" ngModel>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your password" required class="form-control" name="password" ngModel>
        </mat-form-field><br>
        <div class="form-ele">
            <a>Forgot Password?</a><br>
            <mat-checkbox >Remember me</mat-checkbox>
        </div>
        <button class="login" type="submit" [disabled]="!f.valid" mat-raised-button>Login</button>
        <button class="cancel" type="reset" mat-stroked-button >Cancel</button><br>
		<a routerLink="/register" >Don't have an account? Sign up</a>
    </form>
</div>
